<h1>All Books</h1>

<% @books.each do |book| %>
  <section id= 'book-<%=book.id%>'>
    <ul>
      <h2><%= book.title %></h2>
      <li>Publication Year: <%= book.publication_year %></li>
      <li>Page Count: <%= book.pages %></li>
      <li>Written by: </li><% book.authors.each do |author| %>
        <ul>
          <li><%= link_to "#{author.name}", "/authors/#{author.id}" %></li>
        </ul>
      <% end %>
    </ul>
  </section>
<% end %>
