<h1>All Books</h1>

<% @books.each do |book| %>
  <section id= 'book-<%=book.id%>'>
    <ul>
      <h2><%= book.title %></h2>
      <li>Publication Year: <%= book.publication_year %></li>
      <li>Page Count: <%= book.pages %></li>
      <% book.authors.each do |author| %>
        <li>Author: <%= author.name %></li>
      <% end %>
    </ul>
  </section>
<% end %>
